body { margin: 0px; }
* { box-sizing: border-box; cursor: default; }

.container {
    display: flex;
    flex-direction: row;
}

.box1 {
    background-color: #2B3031;

    display: flex;
    flex-direction: column;

    padding: 5px;
}

.gerenciamento {
    display: flex;
    flex-direction: row;
}

.foto-usuario {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-image: url("../html/assets/images/_DSC0132.JPG");
}